.user1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 6em;
    margin-top: 2em;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: lightblue;
    }
  }
  